# Extensões de arquivos não versionados.
*.pdf
*.png

# Jupyter files
.ipynb_checkpoints

# Referências de pesquisa.
/referências
# Arquivos de configurações do ambiente.
/.vscode
# Arquivos de distribuição.
/build
/dist