# Extensões de arquivos não versionados.
*.pdf

# Jupyter files
.ipynb_checkpoints

# Referências de pesquisa.
/referências
/Phase_Recovery.egg-info
# Arquivos de configurações do ambiente.
/.vscode
# Arquivos de distribuição.
/build
/dist